<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorAidl">

        <service
            android:name=".CalculatorService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.lemonade.aidl.calculatorservice.CALCULATOR_SERVICE"/>
            </intent-filter>
        </service>

        <service
            android:name=".TransferService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.lemonade.aidl.calculatorservice.TRANSFER_SERVICE"/>
            </intent-filter>
        </service>
    </application>

</manifest>